<!DOCTYPE html>
<html lang="en">

<%-include('./partials/Head') %>

<body>
    <main>
    <%-include('./partials/Header') %>
    <section class="carrito">
        <% prods.forEach(function(prod) { %>
        <div id="productos">
            <h1 class="title-prod"><%= prod.title %></h1> 
            <img class="img-cart" src="<%= prod.img %>" alt="<%= prod.alt %>"  />
         </div> 
         <button class="boton-cart" id="botones-cart">-</button>
         <button class="boton-cart" id="botones-cart">+</button>
         <h2 class="price"><%= prod.precio %></h2>     
         <% }); %>
         <div class="total">
        <p class="total-1">TOTAL:</p>
        <p class="total-1">$7000</p>
        <button class="boton-cart2" id="botones-cart">PAGAR</button>
        </div>
    </section>
    <%-include('./partials/Footer') %>
    </main>
</body>
</html>