<!DOCTYPE html>
<html lang="en">

<%- include('./partials/Head') %>

<body>
    <%- include('./partials/Header') %>
    <section>
        <div class="product-detail">
            <div class="product-det-img">
                <h1 class="product-title"><%= prod.title %></h1>
                <img class="img3" src="<%= prod.img %>">   
                <p class="product-desc"><%= prod.desc %> </p> 
                <p class="precio4"><%= prod.precio %></p>
                <button class="boton4">Comprar</button>
            </div>
    </section>
    <%-include('./partials/Footer') %>
</body>
</html>