<!DOCTYPE html>
<html lang="en">

<%- include('./partials/Head') %>

<body>
    <main>
    <%- include('./partials/Header') %>
    <section>
        <div class="product-detail">
            <div class="product-det-img">
                <h1 class="product-title"><%= prod.title %></h1>
                <img class="img3" src="<%= prod.img %>">   
                <p class="product-desc"><%= prod.desc %> </p> 
                <div class="prod-price">
                    <button class="boton4" id="boton4">Comprar</button>
                    <p class="precio4"><%= prod.precio %></p>
                </div>
            </div>
        </div>
    </section>
    <%-include('./partials/Footer') %>
    </main>
</body>
</html>