<!DOCTYPE html>
<html lang="en">
   
<%- include('./partials/Head') %>
      
   <body>
    <%- include('./partials/Header') %>
    <main>
        <div class="banner">   
            <img class="img2" src="/imgs/banner.jpg" alt="banner" />
    </div>
    <section class="home-bg">
    <div id="product"> 
    <% prods.forEach(function(prod) { %>

        <h1 class="title"><%= prod.title %></h1>
        <img class="prod-img" src="<%= prod.img %>" alt="<%= prod.alt %>" />
        <h2 class="desc"><%= prod.desc %></h2>
    
        <div class="botones">   
            <button class="boton"><a href="/detailProduct/<%= prod.id %>">Ver mas</a></button>
            <button class="boton"><a href="/cart">Carrito</a></button>
            <p class="precio"><%= prod.precio %></p>
        </div>
        
        <% }); %>
    </div>
</section>
    </main>
    <%-include('./partials/Footer') %>
</body>
</html>